*~
debugfiles.list
debuglinks.list
debugsourcefiles.list
debugsources.list
doc/html
documentation.list
elfbins.list
examples/custompopups/custompopups
examples/webview-test-app/webview-test-app
Makefile
*.moc
moc_*.cpp
*.o
*.pc
*.prl
*.qch
*.qm
qrc_resources.cpp
RPMS/*
sailfish-components-webview.pro.user
*.so*
*.swp
tests/auto/tst_downloadhelper/tst_downloadhelper
*.ts
